.dimple{
    color: antiquewhite;
    background-color: red;
    text-align: center;
}

.U{
    background-color: blanchedalmond;
}
.me{
    background-color: antiquewhite;
    border: 6px solid red;
    
}